$color-primary: #685DC5;
$color-background: #ffffff;
$color-secondary: #535353;

$font-main: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;

$background-pattern: url('../assets/images/bg-pattern.svg');
$background-pattern-circular: url('../assets/images/profile-image-bg-pattern.svg');
$background-pattern-carousel: url('../assets/images/carousel-bg-pattern.svg');